
.answers-container {
  margin-top: 8px;
  display: grid;
  gap: 16px;
}

ul {
  list-style: none;
}

.answer-item > div {
  padding: 16px 8px;
  border: 2px solid rgba(229,229,229,255);
  border-radius: 8px;
}

.answer-item--selected > div {
  border-color: rgba(132,215,255,255);
  background-color: rgba(221,243,254,255);
}