.home-page {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('/images/cascada1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.read-botton {
  position: absolute;
  top: 74px;
  right: 16px;
  background-color: white;
  border-radius: 4px;
}

.home-page .buttons {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

@media (min-width: 600px) {
  .home-page{
    gap: 32px;
  }
}