.panel-deslizante {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 90%;
  border-top-left-radius:20px;
  border-top-right-radius: 20px;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateY(100%);
}

.panel-deslizante__button {
  text-align: end;
  padding: 16px;
}

.panel-deslizante.abierto {
  transform: translateY(0);
}

.panel-deslizante .contenido {
  height: 100%;
  padding: 16px;
  overflow: scroll;
  
}

.panel-deslizante .contenido p {
  line-height: 28px;
  padding-bottom: 68px;
}

.panel-deslizante .cerrar {
  display: block;
  margin-top: 16px;
}
